/*
Color scheme variables
*/
:root {
    --dark-brown:#2C3531;
    --turquoise:#116466;
    --light-brown:#D9B08C;
    --light-pink:#FFCB9A;
    --light-blue:#D1E8E2;
}
body {
    background-color: var(--light-blue);
}
h1 {
    font-family: 'Allerta Stencil', sans-serif;
    color: var(--turquoise);
}
.number {
    font-family: 'Old Standard TT', serif;
    fill: var(--dark-brown) !important;
}
.nav-item {
    font-family: 'Josefin Sans', sans-serif;
}
.firstBtn {
    background-color: red;
}
.firstBtn:hover {
    font-weight: bold;
}
.secondBtn {
    background-color: blue;
}
.secondBtn:hover {
    font-weight: bold;
}
button {
    font-family: 'Arvo', serif;
}
.btn:hover {
    background-color: var(--light-pink);
    color: var(--dark-brown);
}